* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Helvetica, Geneva, sans-serif;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-regular.ttf');
}

body {
    background-color: #2D2D2D;
    padding: 20px;
    min-height: 100vh;
    position: relative;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
select {
    cursor: pointer;
}

.normal {
    background-color: white;
}
.magic {
    background-color: #06D366;
}
.rare {
    background-color: #58EDE7;
}
.hero {
    background-color: #E692EE;
}
.legendary {
    background-color: #F4A554;
}

.unselect {
    -khtml-user-select : none;
    -webkit-user-select : none;
    -moz-user-select : -moz-none;
    -ms-user-select : none;
    user-select : none;
}

/* HEADER */
    header {
        width: 100%;
        text-align: center;
        color: #DCDCDC;
    }
        header h1 {
            font-size: 5em;
            text-transform: uppercase;
            margin: 30px 20px;
        }
/* END HEADER */


/* NAV */
    nav {
        text-align: center;
    }
        nav ul {
            border-bottom: 3px solid #dcdcdc;
            padding-bottom: 20px;
            max-width: 650px;
            margin: auto;
        }
            nav li {
                display: inline-block;
                list-style: none;
                color: #dcdcdc;
                text-transform: uppercase;
                font-weight: bold;
                margin: 0px 15px;
                font-size: 1.5em;
                cursor: pointer;
                transition: all .3s;
            }
            nav li:hover {
                color: #fd9a00;
            }
            nav li.selected {
                color: #fd9a00;
            }
/* END NAV */


/* SECTION */
    /* ARTICLE */
        article:not(:first-child) {
            display: none;
        }

        /* RUNE-TESTER */
            article.rune-tester {
                margin: auto;
                width: 400px;
                max-width: 100%;
            }

            /* RESULT-RUNE-TESTER */
                .results-rune-tester {                
                    margin: 55px 0px;
                    display: flex;
                    justify-content: space-between;
                }
                    .result-rune-tester {
                        padding: 5px;
                    }
                        .result-rune-tester .title {
                            color: #DCDCDC;
                            font-weight: bold;
                            width: 100%;
                            display: block;
                        }
                        .result-rune-tester .efficiency, .result-rune-tester .type-utility {
                            color: #fd9a00;
                            text-align: center;
                            text-transform: uppercase;
                            width: 100%;
                            font-size: 3.5em;
                            transition: all 0.2s;
                        }
                        .result-rune-tester .type-utility li {
                            list-style: none;
                            width: 100%;
                            text-align: left;
                            font-size: 0.65em;
                            padding: 5px 0px;
                        }
                        .result-rune-tester .efficiency.rune-a {
                            color: #67dc00;
                        }
                        .result-rune-tester .efficiency.rune-b {
                            color: #d2cd00;
                        }
                        .result-rune-tester .efficiency.rune-c {
                            color: #fd9a00;
                        }
                        .result-rune-tester .efficiency.rune-d {
                            color: #dc0200;
                        }
            /* END RESULT-RUNE-TESTER */

            /* TABLE */
                article.rune-tester table {
                    width: 100%;
                    border-collapse: collapse;       
                }
                    article.rune-tester table td, article.rune-tester table th {
                        padding: 2px;
                        width: 33%;
                    }
                        article.rune-tester table span {
                            color: #DCDCDC;
                            font-size: 1.2em;
                        }
                        article.rune-tester table select {
                            width: 100%;
                            border-radius: 3px;
                            background-color: #2d2d2d;
                            color: #DCDCDC;
                            border: 2px solid #6d6d6d;
                            padding: 3px 7px;
                            font-size: 1em;
                            -moz-appearance: textfield;
                        }
                        article.rune-tester table input {
                            width: 100%;
                            border-radius: 3px;
                            background-color: #2d2d2d;
                            color: #DCDCDC;
                            border: 2px solid #6d6d6d;
                            padding: 3px 7px;
                            font-size: 1em;
                        }
            /* END TABLE */
        /* END RUNE-TESTER */
        
        /* RUNES-TESTER */
            article.runes-tester {
                margin: auto;
                width: 100%;
            }

            /* MENU */
                article.runes-tester .menu {                    
                    width: 800px;
                    margin: auto;
                    margin-bottom: 30px;
                }
                /* TOOLS */
                    .tools {
                        margin-top: 50px;
                        padding: 5px 0px;
                        background-color: #232323;
                    }
                        .tool {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                            .tools select {
                                width: 100%;
                                border-radius: 3px;
                                background-color: #232323;
                                color: #DCDCDC;
                                border: 2px solid #6d6d6d;
                                padding: 3px 7px;
                                font-size: 1em;
                                height: 30px;
                                -moz-appearance: textfield;
                            }
                            .tools .ui-slider {
                                margin: 10px;
                            }
                            .tools .value-slider {
                                color: #fd9a00;
                                font-weight: bold;
                                float: right;
                            }
                            .tools label {
                                color: gainsboro;
                                font-weight: bold;
                            }
                /* END TOOLS */

                /* FORM IMPORT */
                    form.import-json .input-file-container {
                        position: relative;
                        width: 100%;
                        height: 100px;
                    }
                    form.import-json .input-file-container:hover .text-input-file {
                        background-color: #232323;
                    }
                        form.import-json .input-file {
                            position: absolute;
                            display: block;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                            left: 0;
                            opacity: 0;
                            cursor: pointer;
                        }
                            form.import-json .text-input-file {    
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                text-align: center;
                                border: 3px dotted #6d6d6d;
                                color: gainsboro;
                                font-size: 1em;
                                transition: all .4s;
                                cursor: pointer;
                            }
                                form.import-json .text-input-file img {
                                    width: 40px;
                                    height: 40px;
                                    margin-right: 10px;
                                    display: none;
                                }
                /* END FORM IMPORT */
            /* END MENU */

            /* NB RUNE BY PAGE */
                .nbRuneByPage {
                    color: #DCDCDC;
                    font-weight: bold;
                }
                    .nbRuneByPage select {             
                        border-radius: 3px;
                        background-color: #2d2d2d;
                        color: #DCDCDC;
                        border: 2px solid #6d6d6d;
                        padding: 3px 7px;
                        font-size: 1em;
                        -moz-appearance: textfield;
                    }
            /* END NB RUNE BY PAGE */

            /* TABLE */
                .div-table-list-runes {
                    position: relative;
                    min-height: 300px;
                }
                .div-table-list-runes .tr-subtile th {
                    cursor: default;
                }
                /* LOADING */
                    .div-table-list-runes .loading {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        z-index: 10;
                        background-color: #02020285;
                        display: none;
                        align-items: center;
                        justify-content: center;
                        cursor: wait;
                    }
                        .div-table-list-runes .loading-image {    
                            width: 130px;
                            height: 130px;
                            position: relative;
                        }
                            .div-table-list-runes .loading-image::after {
                                content: "";
                                width: 100%;
                                height: 100%;
                                display: block;
                                position: absolute;
                                -webkit-animation: lds-eclipse 1.5s linear infinite;
                                animation: lds-eclipse 1.5s linear infinite;
                                border-radius: 50%;
                                box-shadow: 0 6px 0 0 #fd9a00;
                                -webkit-transform-origin: 50% 52%;
                                transform-origin: 50% 52%;
                            }
                            @keyframes lds-eclipse {
                                0% {
                                  -webkit-transform: rotate(0deg);
                                  transform: rotate(0deg);
                                }
                                50% {
                                  -webkit-transform: rotate(180deg);
                                  transform: rotate(180deg);
                                }
                                100% {
                                  -webkit-transform: rotate(360deg);
                                  transform: rotate(360deg);
                                }
                              }
                              @-webkit-keyframes lds-eclipse {
                                0% {
                                  -webkit-transform: rotate(0deg);
                                  transform: rotate(0deg);
                                }
                                50% {
                                  -webkit-transform: rotate(180deg);
                                  transform: rotate(180deg);
                                }
                                100% {
                                  -webkit-transform: rotate(360deg);
                                  transform: rotate(360deg);
                                }
                              }
                    .div-table-list-runes .loading.show {
                        display: flex;
                    }
                /* END LOADING */

                tr.hidden-tools {
                    display: none;
                }
                tr.hidden-pages {
                    display: none;
                }
                
                article.runes-tester table {
                    width: 100%;
                    border-collapse: collapse;  
                    margin-top: 10px;
                }
                    article.runes-tester table tbody tr:hover {
                        background-color: #3c3c3c;
                        transition: all 0.2s;
                    }
                        article.runes-tester table td, article.runes-tester table th {
                            padding: 5px;
                            text-align: left;
                            border: 1px solid #404040;
                            color: #DCDCDC;
                        }
                        article.runes-tester table th {
                            cursor: pointer;
                            background-color: #232323;
                        }
                        article.runes-tester table td.grind {
                            color: #fd9a00;
                        }
                            article.runes-tester table span {
                                font-size: 1.2em;
                                color: #fd9a00;
                            }
                                article.runes-tester table ul.utilities {
                                    display: block;
                                    max-height: 15px;
                                    overflow: hidden;
                                    transition: max-height 1s;
                                }
                                article.runes-tester table tr:hover ul.utilities {
                                    max-height: 500px;
                                }
                                    article.runes-tester table ul.utilities li, article.runes-tester table ul.rune-btn li {
                                        list-style: none;
                                        font-size: 0.9em;
                                    }
                                    article.runes-tester table ul.rune-btn li.delete {
                                        background-image: url(../pictures/icons/delete.png);
                                        background-size: 18px;
                                        background-repeat: no-repeat;
                                        height: 18px;
                                        width: 18px;
                                        cursor: pointer;
                                    }
            /* END TABLE */

            /* PAGE */
                .pages {
                    text-align: center;
                    color: gainsboro;
                    margin-top: 15px;
                }
                    .pages span {
                        padding: 5px 10px;
                        background-color: #232323;
                        margin: 0px 2px;
                        border-radius: 2px;
                    }
                    .pages span.btn {
                        cursor: pointer;
                    }
                    .pages span.btn.selected {
                        color: #fd9a00;
                    }
            /* END PAGE */

            
            /* MODAL DELETE RUNE */
                .modal-delete-rune {
                    text-align: center;
                }
                    .modal-delete-rune .div-btn {
                        justify-content: center;
                        display: flex;
                    }
                        .modal-delete-rune .div-btn .btn {
                            background-color: gainsboro;
                            padding: 2px 5px;
                            margin: 2px;
                            font-weight: bold;
                            cursor: pointer;
                            border-radius: 2px;
                        }
                        .modal-delete-rune .div-btn .btn:hover {
                            transition: all 0.2s;
                            background-color: #adadad;
                        }
            /* END MODAL DELETE RUNE */
        /* END RUNES-TESTER */
    /* END ARTICLE */
/* END SECTION */




/* INFO */
    /* ICON HELP */
        .icon-info {
            width: 40px;
            height: 40px;
            background: url(../pictures/icons/information.png);
            background-size: 40px;
            background-repeat: no-repeat;
            position: fixed;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
    /* END ICON HELP */

    /* MODAL */
        .modal-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #00000052;    
            justify-content: center;
            align-items: center;
            display: none;
            z-index: 10;
        }
            .modal-content-flex {
                display: flex;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
            }
                .modal-content {
                    background-color: #2D2D2D;
                    width: 400px;
                    margin: auto;
                    padding: 0px 20px;
                    box-shadow: 0 0px 10px black;
                    border-radius: 3px;
                    position: relative;
                }                
                    .modal-content .close {
                        position: absolute;
                        top: 0px;
                        right: 10px;
                        font-weight: bold;
                        color: #DCDCDC;
                        font-size: 2em;
                        cursor: pointer;
                        transition: all 0.2s;
                    }
                    .modal-content .close:hover {                    
                        color: #868686;
                    }
                    .modal-content .part {
                        margin: 20px 0;
                    }
                        .modal-content h2 {
                            color: #fd9a00;
                            text-transform: uppercase;
                        }
                        .modal-content p {
                            color: #DCDCDC;
                            padding: 5px 0;
                            text-align: justify;
                        }                        
                        .modal-content ul.features {
                            color: #DCDCDC;
                            padding: 5px 0;
                        }
                            .modal-content ul.features li {
                                list-style: none;
                                margin-left: 20px;
                            }
                            .modal-content ul.features .date-feature {
                                font-weight: bold;
                            }
                        .modal-content a {
                            color: #ec6400;
                            text-decoration: none;
                        }
                    .modal-content .part.footer {
                        color: #DCDCDC;
                        text-align: center;
                    }
                        .modal-content .part.footer ul li {
                            list-style: none;
                            display: inline-block;
                        }
                        .modal-content .part.footer ul li:not(:first-child):before {
                            content: '-';
                            padding: 0 5px;
                        }
    /* END MODAL */

    /* MODAL INFO */
        .modal-info .modal-content {
            width: 1200px;
        }
    /* END MODAL INFO */
/* END INFO */